<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>You are done!!!</h1>
	<h2> You chose: <%=@answer%></h2>
		<p>Here is your email:</p>
	<p id="answers">
	<% if @answer== @email_types[0] %>
	<%=@apology.sample.message %>
				<% end  %>
	<%  if @answer== @email_types[1] %>
	<%=@thankyou.sample.message %>
				<% end %>
	<% if @answer== @email_types[2] %>
	<%=@date.sample.message %>
	<% end %>
	<% if @answer== @email_types[3] %>
	<%=@hello.sample.message %>
	<% end%>
	<% if @answer== @email_types[4] %>
	<%=@homework.sample.message %>
	<% end%>
	<% if @answer== @email_types[5] %>
	<%=@extension.sample.message %>
	<% end %>
	<% if @answer== @email_types[6] %>
	<%=@birthday.sample.message %>
	<% end %>
	</p>
	<div id="all">
		<a class="all" href="/">Go Again!</a>	
		</div>
	
	<button id="refresh">
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh for a new email">
</button>
	<img src="http://static.tumblr.com/671e9c3d16f2c051c50a41c145665f86/vvefbnt/o2xng4tji/tumblr_static_12wwua86ncjkws4wgwscowsw8.gif">
	
</body>
</html>